<div class="container-fluid laporan">
    <div class="row">
        <div class="col-md-12" style="background-color: whitesmoke;">
            <h3>Form Edit Petugas</h3>
            <hr>
            <div class="row">
            <div class="col-sm-12">
                <form name="inputForm" ng-submit="editPetugas(inputForm.$valid)">
                    <div class="row">
                        <div class="col-md-2">No.KTP</div>
                        <div class="col-md-8"><input type="text" name="ktp" id="ktp" ng-model="petugas.ktp" class="form-control" disabled></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Status</div>
                        <div class="col-md-8"><input type="text" name="status" id="status" ng-model="petugas.status" class="form-control" disabled></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Nama</div>
                        <div class="col-md-8"><input type="text" name="nama" id="nama" ng-model="petugas.nama" class="form-control" required></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-2"><a href="#/daengsampah/daftar-petugas" class="btn btn-default form-control">Batalkan</a> </div>
                        <div class="col-md-2"><button type="submit" class="btn btn-primary form-control" ng-disabled="inputForm.$invalid">Simpan</button> </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>