<div class="container-fluid laporan">
    <div class="row">
        <div class="col-sm-12">
            <!-- Saring Berdasarkan Tanggal-->
            <div class="form-group">
                <label for="filter" class="col-sm-2">Filter Tanggal</label>

                <div class="col-sm-3">
                    <!--<input type="text" ng-model="search.waktu" id="filter" class="form-control" placeholder="Search!!">-->
                    <p class="input-group">
                        <input id="filter" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt.waktu"
                               is-open="status.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" ng-required="true"
                               close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-info" ng-href="public\models\printLaporanPetugas.php?tgl={{dt.Fwaktu}}&ktp={{ktp}}" target="_blank"><i class="fa fa-print"></i> Cetak Laporan</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover table-center">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th ng-click="orderBy('id_keluhan')">ID Laporan <span ng-show="predicate == 'id_keluhan'"
                                                                              class="fa pull-right"
                                                                              ng-class="{'fa-chevron-up': reverse,'fa-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="orderBy('nama')">Nama Pelapor <span ng-show="predicate == 'nama'"
                                                                          class="fa pull-right"
                                                                          ng-class="{'fa-chevron-up': reverse,'fa-chevron-down':!reverse}"></span>
                        </th>
                        <th>Gambar</th>
                        <th ng-click="orderBy('lokasi')">Lokasi<span ng-show="predicate == 'lokasi'"
                                                                     class="fa pull-right"
                                                                     ng-class="{'fa-chevron-up': reverse,'fa-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="orderBy('waktu')">Waktu Laporan <span ng-show="predicate == 'waktu'"
                                                                            class="fa pull-right"
                                                                            ng-class="{'fa-chevron-up': reverse,'fa-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="orderBy('alamat')">Alamat<span ng-show="predicate == 'alamat'"
                                                                     class="fa pull-right"
                                                                     ng-class="{'fa-chevron-up': reverse,'fa-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="orderBy('keluhan')">Keluhan <span ng-show="predicate == 'keluhan'"
                                                                        class="fa pull-right"
                                                                        ng-class="{'fa-chevron-up': reverse,'fa-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="orderBy('status')">Status <span ng-show="predicate == 'status'"
                                                                      class="fa pull-right"
                                                                      ng-class="{'fa-chevron-up': reverse,'fa-chevron-down':!reverse}"></span></th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in filteredLaporan = ( laporan | orderBy:predicate:reverse| filter: dt.Fwaktu) | startFrom: (currentPage -1) * pageSize | limitTo: pageSize ">
                        <td>{{$index+1 + (currentPage -1) * pageSize}}</td>
                        <td>{{data.id_keluhan}}</td>
                        <td>{{data.nama}}</td>
                        <td><img ng-src="assets/img/{{data.gambar}}" class="img-custom" alt="gambar"></td>
                        <td>{{data.latitude}},{{data.longitude}}</td>
                        <td>{{data.waktu}}</td>
                        <td>{{data.alamat}}</td>
                        <td>{{data.keluhan}}</td>
                        <td>
                            <p ng-show="data.status != 'tuntas'"> Menunggu</p>
                            <p ng-show="data.status == 'tuntas'" disabled> Tuntas</p>
                        </td>
                        <td><a href="" ng-click="updateStatus(data.id_keluhan)" class="btn btn-success" ng-show="data.status != 'tuntas'"><i
                                class="fa fa-check-circle-o"></i> Tuntaskan</a>
                    </tr>
                    <tr ng-show="!filteredLaporan.length">
                        <td colspan="10">Nothing Found!!</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 text-center">
                <pagination total-items="filteredLaporan.length" ng-model="currentPage"
                            items-per-page="pageSize"></pagination>
            </div>
        </div>
    </div>
</div>